h1 {
    color: darkgreen;
}

h2 {
    color: #631313;
    background: #9e8f04;
}

.czerwony {
    color: red;
    background: #6eadca;
}

#szkolenie {
    background: yellow;
}

a {
    color: green;
}

section a {
    color: orange;
}

nav a {
    color: pink;
}

.my-article p {
    color: brown;
}